---
import { getUrlLang } from "../lang.js";
import { getTranslation } from "../lang.js";
import LangSwitch from "./LangSwitch.astro";
import Link from "./Link.astro";
import NavLink from "./NavLink.astro";

const t = await getTranslation(Astro.url);
const currLang = getUrlLang(Astro.url);

const youtube = "https://www.youtube.com/@liammenneci5403";
const instagram = "https://www.instagram.com/liam_menneci/";
---

<x-header class="contents">
  <!-- SIDEBAR -->
  <div
    id="sidebar"
    class="fixed inset-0 w-full h-full bg-neutral-900 translate-x-full transition-transform duration-300 z-50 sm:translate-x-full">
    <div class="relative w-full h-full">
      <img
        class="absolute pointer-events-none top-0 left-1/2 -translate-x-1/2 mx-auto w-full max-h-[90%] -translate-y-[42%] opacity-10"
        src="/logo.svg"
      />
      <img
        class="absolute pointer-events-none bottom-0 left-1/2 -translate-x-1/2 mx-auto w-full max-h-[90%] translate-y-[60%] opacity-10 mt-8 transition-all"
        src="/logo.svg"
      />

      <div
        class="h-screen grid grid-rows-[auto_1fr] place-items-center p-4 z-10">
        <button class="block w-8 p-1 ml-auto sidebar-toggle text-right">
          <img class="" src="/hamburger.svg" />
        </button>
        <div>
          <div
            class="w-fit mx-auto text-4xl font-semibold flex flex-col gap-6 mb-16">
            <NavLink text={t.misc.nav.video} href="/" />
            <NavLink text={t.misc.nav.about} href="/about" />
            <NavLink text={t.misc.nav.merch} href="/merch" />
          </div>

          <div class="flex justify-center gap-4 text-center text-xl">
            <LangSwitch
              class={currLang == "it" ? "" : "text-neutral-400"}
              lang="it">
              IT
            </LangSwitch>
            <div class="text-neutral-400">|</div>
            <LangSwitch
              class={currLang == "en" ? "" : "text-neutral-400"}
              lang="en">
              EN
            </LangSwitch>
          </div>

          <div class="mt-4 mx-auto w-fit">
            <a
              href="tel:+393356493415"
              class="flex items-center justify-center gap-2 -mb-1 -translate-x-2">
              <img src="/phone.svg" class="w-4 inline" />
              <span>+39 333 38471126</span>
            </a>
            <a
              href="mailto:contacts@dtw.com"
              class="flex items-center justify-center gap-2 -translate-x-2">
              <img src="/mail.svg" class="w-4 inline translate-y-0.5" />
              <span>contacts@dtw.com</span>
            </a>
          </div>

          <div
            class="flex items-center justify-center gap-3 mt-4 -translate-x-1">
            <a href={instagram}>
              <img src="/instagram.svg" />
            </a>
            <a href={youtube}>
              <img src="/youtube.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- HEADER -->
  <div
    class="block bg-gradient-to-b from-neutral-950 to-transparent text-white">
    <div class="max-w-screen-xl mx-auto flex justify-between items-center p-4">
      <Link href="/">
        <img class="w-8 md:w-12" src="/logo.svg" alt="" />
      </Link>

      <div
        class="hidden sm:flex justify-between items-center gap-1 md:gap-2 font-medium font-mont">
        <LangSwitch
          class={currLang == "it" ? "" : "text-neutral-400"}
          lang="it">
          IT
        </LangSwitch>
        <div class="w-[1px] h-[10px] bg-neutral-400 mx-2"></div>
        <LangSwitch
          class={currLang == "en" ? "" : "text-neutral-400"}
          lang="en">
          EN
        </LangSwitch>

        <div class="w-9 md:w-12"></div>

        <NavLink text={t.misc.nav.video} href="/" />
        <div class="w-5"></div>
        <NavLink text={t.misc.nav.about} href="/about" />
        <div class="w-5"></div>
        <NavLink text={t.misc.nav.merch} href="/merch" />

        <div class="w-9 md:w-12"></div>

        <div class="text-xs text-neutral-300">
          <a
            class="flex items-center justify-end gap-2"
            href="tel:+393356493415">
            <img src="/phone.svg" class="w-3 inline" />
            <span>+39 333 38471126</span>
          </a>
          <a
            class="flex items-center justify-end gap-2"
            href="mailto:contacts@dtw.com">
            <img src="/mail.svg" class="w-3 inline translate-y-px" />
            <span>contacts@dtw.com</span>
          </a>
        </div>

        <div class="w-2 md:w-4"></div>

        <a href={youtube}>
          <img class="w-5 md:w-6" src="/youtube.svg" />
        </a>
        <a href={instagram}>
          <img class="w-5 md:w-5 pb-px" src="/instagram.svg" />
        </a>
      </div>

      <button class="sidebar-toggle sm:hidden">
        <img class="w-8 sm:w-12 p-1 opacity-80" src="/hamburger.svg" alt="" />
      </button>
    </div>
  </div>
</x-header>

<script>
  customElements.define(
    "x-header",
    class CustomHeader extends HTMLElement {
      constructor() {
        super();

        const sidebar = this.querySelector("#sidebar")!;
        const toggles = this.querySelectorAll<HTMLButtonElement>(
          "button.sidebar-toggle"
        );

        toggles.forEach((btn) => {
          btn.addEventListener("click", () => {
            sidebar.classList.toggle("translate-x-full");
          });
        });
      }
    }
  );
</script>
