---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getTranslation, getUrlLang } from "../lang.js";
import "../style.css";

const t = await getTranslation(Astro.url);
const currLang = getUrlLang(Astro.url);
---

<!DOCTYPE html>
<html lang={currLang}>
  <head>
    <BaseHead
      props={{
        title: t.head.title,
        description: t.head.description,
      }}
    />
    <!-- FONT PRELOAD -->
    <link
      rel="prefetch"
      href="/fonts/darker/DarkerGrotesque-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="prefetch"
      href="/fonts/darker/DarkerGrotesque-SemiBold.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="prefetch"
      href="/fonts/darker/DarkerGrotesque-Medium.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="prefetch"
      href="/fonts/montserrat/Montserrat-Medium.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-neutral-900 font-dark text-white overflow-x-hidden">
    <Header />

    <!-- BACKGROUND IMAGE -->
    <div class="fixed w-[80vw] right-20 stack opacity-30 rotate-12 -z-10">
      <img
        class="w-full filter brightness-125"
        src="/liam-menneci.jpg"
        alt="Liam Menneci"
      />
      <div
        class="w-full h-full z-10"
        style="background: radial-gradient(51.31% 51.31% at 50% 37.08%, rgba(0, 0, 0, 0.00) 0%, #1A1A1A 100%);">
      </div>
    </div>

    <!-- ABOUT THE PROJECT -->
    <div
      class="max-w-screen-lg px-6 mx-auto mt-10 grid grid-cols-5 gap-6 mb-10">
      <h1
        class="col-span-full text-5xl font-semibold xs:text-center mb-2 leading-[0.8] max-sm:-order-1"
        set:html={t.project.title}
      />
      <div class="text-2xl leading-5 col-span-full sm:col-span-3">
        <p class="text-4xl font-semibold leading-8 mb-6 sm:mt-10">
          <span set:html={t.project.subtitle} />
          <img class="inline w-40 mt-1" src="/logo-text.svg" alt="" />
        </p>
        {
          t.project.paragraphs.map((p: string) => (
            <p class="mb-4 last:mb-0" set:html={p} />
          ))
        }
      </div>
      <img
        class="block col-span-full sm:col-span-2 max-sm:-order-1 w-4/5 sm:w-full max-w-[280px] aspect-[3/4] ml-auto xs:mx-auto object-cover"
        src="/liam-drumming.jpeg"
        alt="Liam Menneci"
      />
    </div>

    <img src="/logo.svg" alt="Logo D2W" class="mx-auto my-20" />
    <!-- ABOUT ME -->
    <div
      class="max-w-screen-lg px-6 mx-auto mt-10 grid grid-cols-5 gap-6 mb-10">
      <h1
        class="col-span-full text-5xl font-semibold mx-auto mb-2 leading-[0.8] max-sm:-order-1"
        set:html={t.liam.title}
      />
      <img
        class="block col-span-full sm:col-span-2 max-sm:-order-1 w-4/5 sm:w-full max-w-[280px] aspect-[3/4] ml-auto xs:mx-auto object-cover"
        src="/liam-blue.jpeg"
        alt="Liam Menneci"
      />
      <div class="text-2xl leading-5 col-span-full sm:col-span-3">
        {
          t.liam.paragraphs.map((p: string) => (
            <p class="mb-4 last:mb-0" set:html={p} />
          ))
        }
      </div>
    </div>

    <Footer />
  </body>
</html>
